<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookOnline</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>userInformation.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>userInformation.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainPageServlet</display-name>
    <servlet-name>MainPageServlet</servlet-name>
    <servlet-class>userInformation.MainPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPageServlet</servlet-name>
    <url-pattern>/MainPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookInfoServlet</display-name>
    <servlet-name>AddBookInfoServlet</servlet-name>
    <servlet-class>userInformation.AddBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookInfoServlet</servlet-name>
    <url-pattern>/AddBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendToConfirmationServlet</display-name>
    <servlet-name>SendToConfirmationServlet</servlet-name>
    <servlet-class>userInformation.SendToConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendToConfirmationServlet</servlet-name>
    <url-pattern>/SendToConfirmationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDeleteServlet</display-name>
    <servlet-name>BookDeleteServlet</servlet-name>
    <servlet-class>userInformation.BookDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDeleteServlet</servlet-name>
    <url-pattern>/BookDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchBookInfoServlet</display-name>
    <servlet-name>searchBookInfoServlet</servlet-name>
    <servlet-class>userInformation.searchBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchBookInfoServlet</servlet-name>
    <url-pattern>/searchBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>userInformation.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
</web-app>